
<div class="home-show">
<h1 class='welcome-box'>Welcome, <%= current_user.username %>!</h1>
  <% if current_user.admin? %>
    <%= link_to 'Generate Gif', new_admin_gif_path %>
  <% end %>
</div>
<div class="gif-container">
  <div class='gif-total'><% @gifs.each do |gif| %>
    <section>
      <h4><%= gif.category.name %></h4></br>
      <img src=<%= gif.image_path %>></br></br></br></br>
    </section>
  <% end %>
  </div>
</div>
