body {
  background-size: 1000px 900px;
}
.welcome-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid black;
  margin: 10px 10px 0px 10px;
  height: 800px;
  display: flex;
  background-size: 400px 600px;
  background-image: url('tulip-collage.jpg');
}

.home-container {

}

.logo {
  padding-top: 10px;
  font-family: sans-serif;
  font-style: bold;
  font-size: 250px;
  color: white;
}
.logo-top {
  padding-top: 10px;
  font-family: sans-serif;
  font-style: bold;
  font-size: 300px;
  color: white;
}
